<div class="header">

  <div *ngIf="(cooking$ | async)">
    <button (click)="stop()">Stop</button>

    <button (click)="setTemp0(100)">Probe 0 set target temp</button>
    <button (click)="setTemp1(100)">Probe 1 set target temp</button>
    <button (click)="setTemp2(100)">Probe 2 set target temp</button>
    <button (click)="setTemp3(100)">Probe 3 set target temp</button>
  </div>
  <div *ngIf="!(cooking$ | async)">
    <button (click)="start()">Start Cooking</button>
  </div>

</div>

<section *ngIf="(cooking$ | async)">

  <div class="probes">
    <app-probe [probe]="probe0$ | async"></app-probe>
    <app-probe [probe]="probe1$ | async"></app-probe>
    <app-probe [probe]="probe2$ | async"></app-probe>
    <app-probe [probe]="probe3$ | async"></app-probe>
  </div>

  <button (click)="reset()">Reset</button>

</section>

 <app-graph [data]="[1,2,3,4,5]"></app-graph> 

