<div class="probe">  
  <h2>Probe {{ probe.channel }}</h2>
  <div class="probe-data">
    <div class="currentTemp">
      <span class="label">Temp</span>
      <span class="data">{{ probe.celsius | number:'2.0-1' }}°c</span>
    </div>
    <div *ngIf="probe.targetTemp" class="targetTemp">
      <span class="label">Target Temperature</span>
      <span class="data">{{ probe.targetTemp }}</span>
    </div>
    <div *ngIf="probe.targetTemp && probe.targetReached" class="targetReached">
      Target Temp Reached!
    </div>
  </div> 
</div>

