<div class="probe">  
  <h2>{{ probe.name }}</h2>
  <div class="probe-data">
    <div class="voltage">
      <span class="label">Voltage</span>
      <span class="data">{{ probe.voltage }}</span>
    </div>
    <div class="celsius">
      <span class="label">Celsius</span>
      <span class="data">{{ probe.celsius }}</span>
    </div>
    <div class="targetTemp">
      <span class="label">Target Temperature</span>
      <span class="data">{{ probe.targetTemp }}</span>
    </div>
  </div> 
</div>

